<section>   
    <header id="header">
    <div class="container mt-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="header-content-left">
              <h1 class="text-dablue mt-7 text-center">La familia Petiis Care</h1>
              <h2 class="text-black text-center mt-5">Tu mascota hace parte de nosotros</h2>
              <p class="h4 text-center text-grey mt-4"><em>En <strong>Pettis Care</strong> Buscamos marcar la diferencia, inyectando dosis de amor y calor humano a nuestras mascotas. Contamos con un equipo de trabajo altamente calificado, dedicados no solo a realizar una labor diaria, si no a fortalecer cada día su pasión y generar vínculos de confianza con sus pacientes.</em></p>
          </div>
        </div>
         <div class="col-md-6">
            <div class="header-content-right mt-8">
              <div>  
                  <img class="imgpet" src="assets/img/Dogs.jpg"
                 alt="Dogs"
                 width="700"
                 height="600"/> 
              </div>
            </div>
          </div>
      </div>
    </div>
    </header>
  </section>  
    <!--videos-->
  <section>
    <div class="mt-5 text-center text-dablue">
      <h1>Historias que llegan al corazón</h1>
      <br>
    <a href="https://youtu.be/7hCDxuc5zLM" ><img src="assets/img/video1.jpg" width="300" height="200"/></a>
    <a href="https://youtu.be/8RCRqnp8JHE" ><img src="assets/img/video2.jpg" width="300" height="200"/></a>
    <a href="https://youtu.be/lW1RQnwbpiY" ><img src="assets/img/video3.jpg" width="300" height="200"/></a>
    <a href="https://youtu.be/lxlW3O-ADko" ><img src="assets/img/video4.jpg" width="300" height="200"/></a>
    </div>
  </section>
