<nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="background-color: #2a6171"
    >
      <div class="container-fluid">
        <a class="navbar-brand mx-3" href="#">
          <img
            src="assets/img/Logo Isabela.png"
            alt="logo"
            width="60"
            height="60"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="indexfamilia.html"
                >Sobre Nosotros</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="veterinarias.html"
                    >Veterinaria</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="calendario.html"
                    >Baño y Peluquería</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="Restaurantes pet friendly.html"
                    >Restaurantes</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle nav-link active"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tu Cuenta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="Iniciosesion.html"
                    >Inicio Sesión</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="indexformulario.html"
                    >Crear Cuenta</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link active"
                href="#"
                id=""
                role="button"
                data-bs-toggle=""
                aria-expanded="false"
              >
                Carrito
              </a>
            </li>
            <img
              src="assets/img/Logo Isabela - Carrito .png "
              alt="logo"
              width="45"
              height="45"
            />
          </ul>
        </div>
      </div>
    </nav>
