<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  style="background-color: #2a6171"
>
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="http://localhost:4200/home">
      <img src="assets/img/logo_1.png" alt="logo" width="50" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="http://localhost:4200/family"
            >Sobre Nosotros</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="http://localhost:4200/veter">Veterinaria</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="http://localhost:4200/calendar"
                >Baño y Peluquería</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="http://localhost:4200/restaurantes"
                >Restaurantes</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-link active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tu Cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="http://localhost:4200/login"
                >Inicio Sesión</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="http://localhost:4200/signup"
                >Crear Cuenta</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link active"
            href="#"
            id=""
            role="button"
            data-bs-toggle=""
            aria-expanded="false"
          >
            Carrito
          </a>
        </li>
        <img src="assets/img/carrito.png" alt="logo" width="35" height="40" />
      </ul>
    </div>
  </div>
</nav>
