<<<<<<< HEAD
/* Estilo formulario*/

=======
>>>>>>> laura
.bg-liblue {
    background-color: #d7f7f5; 
}

.bg-blue {
    background-color: #01504A !important;
}
.bg-pink {
    background-color: #f34573 !important;
}
.text-dablue {
    color: #01504A;
}
.text-pink {
    color: #f34573;
}
.border-pink {
    color: #f34573 !important;
}

<<<<<<< HEAD
.text-title1 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 10rem;
=======
.logo {
    margin: 4px;
}

.text-title1 {
    justify-content: center;
    margin-left: 1130px;
}

.col-md-5 {
    margin-left: 50px;
}

.input-bg {
    background-color: #f34573;
}

.border-default {
  border-color: rgb(224, 236, 236);
}
.mt-8 {
    margin-top: 6rem;
>>>>>>> laura
}