
<form #userForm="ngForm" id="formulario">
      <div class="container col-md-5">
        <div class="row d-flex justify-content-center">
          <h4 class="text-pink d-flex justify-content-center text-title1 mt-8">Crear tu PETcuenta</h4>
              
          <label for="exampleInputUserName1" class="form-label text-dablue mt-5"
                >Nombre de usuario</label
              >
              <input type="text"
              class="form-control"
              id="exampleInputUserName1"
              aria-describedby="nameHelp"
    
              name="userName"
              #userName="ngModel"
              [(ngModel)]="userService.currentUser.userName" />

              <label for="exampleInputEmail1" class="form-label text-dablue mt-3"
                >Correo electrónico</label
              >
              <input type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
    
              name="email"
              #email="ngModel"
              [(ngModel)]="userService.currentUser.email"/>
            
              <label
                for="exampleInputPassword1"
                class="form-label text-dablue mt-3"
                >Contraseña</label
              >
              <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
    
              name="password"
              #password="ngModel"
              [(ngModel)]="userService.currentUser.password"
              />
              <label
                for="exampleInputConfirmPassword1"
                class="form-label text-dablue mt-3"
                >Confirmar Contraseña</label
              >
              <input
              type="password"
              class="form-control"
              id="exampleInputConfirmPassword1"
              placeholder="Confirma tu contraseña"
    
              name="confirmPassword"
              #confirmPassword="ngModel"
              [(ngModel)]="userService.currentUser.confirmPassword"
                
              />
              <div class="btn2">
                <button 
                  type="submit"
                  class="btn btn-secondary bg-blue text-white mt-4" (click)="signup(userForm)"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>

 

