 <div class="pt-5">
    <footer class="text-white p-2 container-fluid " style="background-color: #2a6171">
      <div>
        <h5 class="text-center p-2" style="color: white">Siguenos en</h5>
        <div class="d-flex justify-content-center">
          <img
            class="m-2"
            src="assets/img/logotipo-de-instagram.png"
            alt="logo"
            width="50"
            height="50"
          />
          <img
            class="m-2"
            src="assets/img/facebook.png"
            alt="logo"
            width="50"
            height="50"
          />
          <img
            class="m-2"
            src="assets/img/gorjeo.png"
            alt="logo"
            width="50"
            height="50"
          />
        </div>
      </div>

      <div class="justify-content-center">
        <div class="row m-0">
          <div class="col-md-4 text-center my-4">
            <h5 class="text" style="color: white">Petiis Care</h5>
            <ul class="list-unstyled text-center mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Sobre Petiis Care</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Servicios</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Trabaja con nosotros</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Terminos y condiciones</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-4 text-center my-4">
            <h5 class="text" style="color: white">Links de Interes</h5>
            <ul class="list-unstyled text-center mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Preguntas Frecuentes</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Como comprar</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Politica de privacidad</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Politicas de entrega</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-4 text-center my-4">
            <h5 class="text" style="color: white">Agenda tu Cita</h5>
            <ul class="list-unstyled text-center mb-0 justify-content-end">
              <li>
                <a href="#" class="text-white text-decoration-none"
                  >Telefono: +573101234567</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Servicioalciente@petiiscare.com</a
                >
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"
                  >Bogota D.C, Colombia</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
   

   
 
